.git
vendor
node_modules
.env
.env.*
!.env.example
storage/*.log
storage/app
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/testing
public/build
public/hot
database/database.sqlite
Dockerfile
.dockerignore
README.md
*.png
*.jpg
*.zip
.gitignore